<!DOCTYPE html>
<html>
  <head>
    <title>iTrade</title>
     <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.twelveAPIKey = "<%= Rails.application.credentials.twelvedata[:api_key] %>";
      window.newsAPIKey = "<%= Rails.application.credentials.news[:api_key] %>";
      window.twelveAPIKeyV2 = "<%= Rails.application.credentials.twelvesecond[:api_key] %>";
      window.modelingAPIKey = "<%= Rails.application.credentials.modeling[:api_key] %>";
      window.iexAPIKey = "<%= Rails.application.credentials.iex[:api_key] %>";
      window.favicon = "<%= image_url('favicon.ico') %>";
      window.iphone_empty_pic = "<%= image_url('iphone_empty.png') %>"; 
      window.iphone_vid = "<%= image_url('iphone.mp4') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
